<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--Inertial properties R_Foot foot_right -->
<xacro:macro name="foot_right_inertial">
	<inertial>
		<mass value="0.1867801099"/>
		<origin xyz="-0.0055676472 0.0034398816 0.0028465215" />
		<inertia ixx="0.0123442309" ixy="-0.0013373380" ixz="-0.0014042040"
				iyy="0.0351609327" iyz="0.0011525105"
				izz="0.0411013075"/>
	</inertial>
</xacro:macro>

</robot>
